@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  background-color: theme('colors.psychedelicBg');
  color: theme('colors.psychedelicText');
  font-family: theme('fontFamily.psychedelic');
  height: 100%;
  margin: 0;
  padding: 0;
}

.reverse-scroll {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100vh;
}

h1, p, button {
  transition: transform 0.3s ease-in-out;
}

h1:hover, p:hover, button:hover {
  transform: scale(1.1);
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carousel img {
  scroll-snap-align: start;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

@keyframes animate {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.gradient-1 {
  background: linear-gradient(135deg, rgba(128, 0, 128, 0.9), rgba(0, 0, 128, 0.9));
  background-size: 200% 200%;
  animation: animate 5s ease infinite;
}

.gradient-2 {
  background: linear-gradient(90deg, rgba(0, 0, 139, 0.9), rgba(70, 130, 180, 0.9));
  background-size: 200% 200%;
  animation: animate 5s ease infinite;
}

.gradient-3 {
  background: linear-gradient(45deg, rgba(139, 0, 0, 0.9), rgba(64, 0, 0, 0.9));
  background-size: 200% 200%;
  animation: animate 5s ease infinite;
}

.gradient-4 {
  background: linear-gradient(315deg, rgba(0, 0, 139, 0.9), rgba(70, 130, 180, 0.9));
  background-size: 200% 200%;
  animation: animate 5s ease infinite;

}

@font-face {
  font-family: 'Bombing'; /* Enclosed in quotes for safety */
  src: url('bombing.ttf') format('truetype');
}
h1 {
  font-family: 'Bombing', Arial, sans-serif; /* Fallback fonts */
}
